<!DOCTYPE html>
<html>
<head>
    <title>For My Love ❤️</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>I Love You More ❤️</h1>
    <h2>Madam Ji 💖</h2>

    <div class="heart"></div>

    <img src="{{ url_for('static', filename='photo.jpg') }}" class="photo">

    <!-- Music -->
    <audio id="bgmusic" loop>
        <source src="{{ url_for('static', filename='song.mp3') }}" type="audio/mpeg">
    </audio>

    <br><br>

    <button class="btn" onclick="playMusic()">Click Here My Love 💝</button>
</div>

<script>
function playMusic() {
    var music = document.getElementById("bgmusic");
    music.play();
}
</script>

</body>
</html>
